/* Tablet & Mobile */
@media(max-width:63.9375em){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .contact-info{
        line-height: 2.0;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    #footer .link a{
        margin: 0 10px;
        font-size: 30px;
    }
    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }

}
/* Mobile */
@media(max-width:739px){
    .s-full-width,.s-col-full{
        width:100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #nav{
        display: block;
    }
    #nav>li{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;

    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }
    #header{
        overflow: hidden;
    }
    #header .search-button{
        display: none;
    }
    #header .mobile-menu-button{
        display: block;
    }

    #slider .text-content{
        display: none;
    }
    .contact-form{
        margin-top: 32px;
    }
}